<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>    
</head>
<body style="background: #F3F4F6;">    
    <div class="page-wrapper">          
        <div class="flex flex-row justify-center items-center mt-12">
            <img src="https://www.dropbox.com/paper/ep/redirect/image?url=https%3A%2F%2Fpaper-attachments.dropboxusercontent.com%2Fs_D73A0E8D783F8CE9E8E902D7FA9CC67C5CDCC90EFDDC25D49970A6A4FF31D65E_1688626829187_logoo.png&hmac=x1mlTUrqLdEd5NrEJ1%2BHocE5pC1t2wi6O4ubpNY6ro0%3D&width=1490" alt="Image" height="100px" width="100px">
            <span class="font-bold text-4xl text-blue-900">Janko</span>
        </div>               
             
        <div class="bg-white rounded-md border-t-2 border-t-blue-600 shadow-lg" style="margin: auto; width: 35%; padding: 25px;">
            <form action="/register" method="POST">
                <div class="mt-2">
                  <label for="name" class="block">Full Name</label>
                  <input type="text" class="border-solid rounded-sm border-gray-200 border-2 w-full p-1 mt-2" id="regName" name="name">              
                </div>
                <div class="mt-2">
                    <label for="email">Email Address</label>
                    <input type="email" class="border-solid rounded-sm border-gray-200 border-2 w-full p-1 mt-2" id="regEmail" name="email">              
                </div>
                <div class="mt-2">
                    <label for="username">Username</label>
                    <input type="text" class="border-solid rounded-sm border-gray-200 border-2 w-full p-1 mt-2" name="username" id="regUsername">              
                </div>
                <div class="mt-2">
                  <label for="password">Password</label>
                  <input type="password" class="border-solid rounded-sm border-gray-200 border-2 w-full p-1 mt-2" name="password" id="regPassword">
                </div>       
                <div class="flex items-center justify-between mt-4">
                    <span></span>
                    <button type="submit" class="bg-blue-500 px-6 py-1 block rounded-md self-end mt-2 text-white">Create account</button>                
                </div>                                                 
            </form>
            <hr class="mt-4">
            <span class="text-sm text-gray-500">Already have an account? <a href="/login" class="text-blue-900">Login here</a></span>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>