<div class="sidebar bg-blue-900 h-screen">
    <div class="bg-white px-0 py-3 h-10 w-5/6 rounded-md flex items-center justify-start" style="margin: 1rem auto;">
        <img class="block" src="https://www.dropbox.com/paper/ep/redirect/image?url=https%3A%2F%2Fpaper-attachments.dropboxusercontent.com%2Fs_D73A0E8D783F8CE9E8E902D7FA9CC67C5CDCC90EFDDC25D49970A6A4FF31D65E_1688626829187_logoo.png&hmac=x1mlTUrqLdEd5NrEJ1%2BHocE5pC1t2wi6O4ubpNY6ro0%3D&width=1490" alt="Image" height="60px" width="60px">
        <span class="font-bold text-xl text-blue-900 block">Janko</span>
    </div>
    <a href="/home" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://www.dropbox.com/paper/ep/redirect/image?url=https%3A%2F%2Fpaper-attachments.dropboxusercontent.com%2Fs_02A2C42C96B6344CBDC9FE3D91698EA7C0E21FEA9EE434758B1DD83D5A367442_1688747102174_home.png&hmac=vMI2luB8%2FEYvSuuSNS6%2FiJhO2bAYNFEbXOuwQakyZsU%3D" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">CMS Home</span>
    </a>
    <a href="/profile/edit" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://www.dropbox.com/paper/ep/redirect/image?url=https%3A%2F%2Fpaper-attachments.dropboxusercontent.com%2Fs_02A2C42C96B6344CBDC9FE3D91698EA7C0E21FEA9EE434758B1DD83D5A367442_1688747917632_user.png&hmac=bk4Jn%2BhirPeaTmSnu%2BKfuVazAmraOi83OlPVqgwvYkM%3D&width=1490" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">Edit Profile</span>
    </a>
    <a href="/logout" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://www.dropbox.com/paper/ep/redirect/image?url=https%3A%2F%2Fpaper-attachments.dropboxusercontent.com%2Fs_02A2C42C96B6344CBDC9FE3D91698EA7C0E21FEA9EE434758B1DD83D5A367442_1688812037249_sign-out-alt.png&hmac=meErd0vwJCB6x3ngIicTQTp259HW1iF42R5m6nwEovc%3D&width=1490" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">Logout</span>
    </a>
</div>